.container-fluid
  {
    padding-top:    100px;
  }

.well
  {
    padding-left:   10px;
    padding-right:  10px;
    padding-top:    10px;
    padding-bottom: 10px;
  }

div.nw-addthis 
   {
    position:       fixed;
    left:           20px;
    top:            12px;
    z-index:        10001;
    width:          180px;
  }

div.addthis_toolbox
  {
    float:          left;
    width:          180px;
  }  
  
