h1,
h2,
h3,
h4,
h5,
h6
  {
    font-family:    Gudea, sans-serif;
    font-weight:    bold;
  }

h2
  {
    margin-bottom: 40px;  
    font-size:      1.5em;
  }

a,
a:hover 
  {
    color: rgb(47, 145, 204);
  }

p, 
em,
div.nw-main li 
  {
    color:       #202020;
    font-family: Gudea, sans-serif;
    font-size:   1.5em;
    line-height: 32px;
  }

div.navbar .fill
  {
    background: -moz-linear-gradient(#049cdb, #0064cd) repeat-x scroll 0 0 #0064cd;
  }

div.navbar a.brand
  {
    font-size:      1.4em;
    font-family:    Gudea, sans-serif;
    font-weight:    bold;
    height:         40px;
    line-height:    40px;
    padding-top:    0px;
    padding-bottom: 0px;
  }

div.navbar > .nav > li  
  {
    font-size:      1em;
  }
  
footer
  {
    color:          rgb(128, 128, 128);
    font-family:    sans-serif;
    font-size:      1em;
    font-style:     italic;
    line-height:    1.6em;
    margin-top:     30px;
    margin-bottom:  20px;
  }

div.container-fluid div.content p,
div.container-fluid div.content blockquote,
div.container-fluid div.nw-main p,
div.container-fluid div.nw-main blockquote
  {
    text-align:    justify;
  }

